# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Base de datos local de SQLite (opcional, pero recomendado ignorarla)
db.sqlite3

# Variables de entorno (contraseñas, secret keys)
.env

